@charset "UTF-8";

header {
	background-color: rgb(80, 80, 80);
	padding: 30px;
	text-align: center;
	
}

header > div >  div > a:link {
	color: #ffffff;
}

header > div >  div > a:visited {
	color: #ffffff;
}


.navigationLink {
	margin: 0px 80px;
	display: inline;
}

.loginForm {
	position: absolute;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
   	width: 400px;
  	height: 250px;
}

.logoutForm {
	position: absolute;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
   	width: 400px;
  	height: 150px;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.loginWidth {
	width: 60px;
	margin: 0px 10px;
}

.loginHeight {
	margin: 10px 0px;
}

.caution-text {
	text-align: center;
	color: #ce0000;
}

.button-margin {
	margin: 10px;
}

.search-margin {
	margin: 0px 15px;
}

.thread {
	padding: 0px 30px;
}

.thread-info {
	padding: 20px 30px;
}

.backcolor-gray {
	background-color: #eeeeee;
}

.thread-infoMargin {
	margin: 0px 10px;
}

.thread-linkFont {
	font-size: 26px;
}

.pagination-margin {
	margin: 30px;
}

.category-name {
	text-align: left;
	width: 450px
}

.category-update-button {
	margin: 0px 5px;
}

.font12 {
	font-size: 12px;
}

.caution-color {
	color: #ce0000;
}

.top {
	vertical-align: top;
}

.input-margin {
	margin: 15px 0px;
}

.input-width {
	width: 200px;
}

.input-item {
	width: 150px;
	text-align: center;
}

table {
	border: 1px #000000 solid; 
	border-collapse: collapse;
}

tr {
	height: 40px;
}

th {
	border: 1px #000000 solid; 
	width: 350px;
}

td {
	border: 1px #000000 solid;
	width: 350px;
	text-align: center;
}

.default,
.delete,
.modify,
.add {
	text-align: center;
	border-radius: 5px;
	color: #000000;
	background-color: #eeeeee;
}

.width5 {
	width: 5em;
}

.width7 {
	width: 7em;
}

.width9 {
	width: 9em;
}

.width12 {
	width: 12em;
} 

.default:hover {
	background: #777777;
	color: #ffffff;
}

.delete:hover {
	background: #800000;
	color: #ffffff;
}

.modify:hover {
	background: #008200;
	color: #ffffff;
}

.add:hover {
	background: #000080;
	color: #ffffff;
}
