@charset "UTF-8";

table {
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	/* border: #000000 1px solid; */
	border-collapse: collapse;
}

th {
	border: #000000 1px solid;
	text-align: center !important;
}

td {
	border: #000000 1px solid;
	text-align: center;
}

.blue-color {
    color:blue;
}
 
.green-color {
    color:green;
}
 
.teal-color {
    color:teal;
}
 
.yellow-color {
	color:yellow;
}

.red-color {
	color:red;
}

.mb-45 {
	margin-bottom: 45px
}

.wd-btnMod {
	width: 80px
}

.wd-btnDel {
	width: 80px
}

.wd-userId {
	width: 120px
}

.wd-email {
	width: 200px
}

.wd-userName {
	width: 200px
}

.wd-birth {
	width: 80px
}

.wd-gender {
	width: 60px
}

.wd-manager {
	width: 80px
}

.wd-lock {
	width: 60px
}

.wd-insName {
	width: 200px
}

.wd-insDate {
	width: 80px
}

.wd-updName {
	width: 200px
}

.wd-updDate {
	width: 80px
}

